// COLOR

$color--black: #000000;
$color--black--02: #333333;
$color--white: #ffffff;
$color--navy: #36465e;
$color--navy--02: #2e3c51;
$color--navy--03: #86909f;
$color--red: #cb1b45;
$color--blue: #337ab7;
$color--gray: #cccccc;
$color--gray--02: #f7f7f7;

// MODULE

/* mod-: MODULE */

.mod-body {
    background: $color--white;
}
.mod-content {}

// HEADER

.mod-header {
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background: $color--navy;
}
.mod-logo {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    line-height: 1;
    z-index: 1;
    @media (max-width: 768px) {
        left: 30px;
    }
    a {
        font-size: 1.8rem;
        font-weight: bold;
        color: $color--white;
    }
}
.mod-nav {
    position: absolute;
    top: 50%;
    right: 45px;
    transform: translateY(-50%);
    z-index: 10;
    @media (max-width: 768px) {
        right: 30px;
    }
}
.mod-nav_button {
    border: 1px solid $color--navy--03;
    border-radius: 4px;
    background: none;
    color: $color--white;
    padding: 5px 20px;
    white-space: nowrap;
    background: $color--navy--03;
    &:hover {
        background: $color--navy--02;
        border-color: $color--navy--02;
    }
}
.mod-nav_menu {
    left: auto;
    right: 0;
    margin-top: 10px;
    padding: 10px 0;
    border: 1px solid $color--gray;
    border-radius: 0;
    box-shadow: none;
}
.mod-nav__about {
    a {
        font-size: 1.1rem;
        color: $color--black;
        padding: 5px 20px !important;
        &:hover {
            background: none !important;
            color: $color--gray !important;
        }
    }
}
.mod-nav__how {
    a {
        font-size: 1.1rem;
        color: $color--black;
        padding: 5px 20px !important;
        &:hover {
            background: none !important;
            color: $color--gray !important;
        }
    }
}

// MAIN

.mod-main {
    position: relative;
    margin-top: 90px;
    margin-bottom: 40px;
    @media (max-width: 768px) {
        margin-bottom: 0;
    }
}
.mod-main__info {
    vertical-align: top;
    width: 300px;
    float: left;
    padding: 45px;
    background: $color--gray--02;
    overflow: scroll;
    @media (max-width: 768px) {
        display: inline-block;
        width: 100%;
        padding: 30px;
        height: auto !important;
    }
}
.mod-main__content {
    vertical-align: top;
    padding: 45px;
    overflow: scroll;
    margin-left: 300px;
    @media (max-width: 768px) {
        display: inline-block;
        width: 100%;
        padding: 30px;
        height: auto !important;
        margin-left: 0;
    }
}

// FOOTER

.mod-footer {
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $color--navy--03;
    @media (max-width: 768px) {
        position: static;
        padding: 30px;
        height: auto;
    }
}
.mod-footer__copyright {
    position: absolute;
    top: 50%;
    right: 45px;
    transform: translateY(-50%);
    font-size: 1.1rem;
    font-family: 'Roboto';
    float: left;
    overflow: hidden;
    color: $color--white;
    @media (max-width: 768px) {
        position: static;
        transform: none;
    }
}

// PANKUZU

.mod-pankuzu {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    @media (max-width: 768px) {
        position: static;
        transform: none;
        margin-bottom: 15px;
    }
    li {
        float: left;
    }
    .mod-pankuzu__link {
        font-size: 1.1rem;
        vertical-align: middle;
        line-height: 2;
        color: $color--white;
        border-bottom: 1px solid $color--white;
        display: inline;
        &:hover {
            border-bottom: none;
        }
    }
}
.mod-pankuzu__text {
    font-size: 1.1rem;
    vertical-align: middle;
    line-height: 2;
    color: $color--white;
}
.mod-pankuzu__icon {
    vertical-align: middle;
    font-size: 1.1rem;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    line-height: 2;
    color: $color--white;
}

// KEYVISUAL

.mod-keyvidual {}
.mod-keyvidual__title {
    color: $color--black;
    font-size: 2.4rem;
    text-align: left;
}
.mod-keyvidual__title__times {
    color: $color--black;
    font-size: 1.6rem;
    margin-bottom: 15px;
    display: block;
}
.mod-keyvidual__info {
    margin-top: 30px;
    text-align: left;
}
.mod-keyvidual__date {
    margin-bottom: 10px;
}
.mod-keyvidual__date__text {
    font-size: 1.3rem;
    color: $color--black;
    vertical-align: middle;
}
.mod-keyvidual__place__text {
    font-size: 1.3rem;
    color: $color--black;
    vertical-align: middle;
}

// RESULT TABLE

.mod-resultTable {
    tr:last-child {
        .mod-resultTable__player,
        .mod-resultTable__point,
        .mod-resultTable__judge {
            border-bottom: none;
        }
    }
}
#mod-resultTableContent {
    margin-top: 20px;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    letter-spacing: -.4em;
    padding-bottom: 10px;
    &::-webkit-scrollbar {
        overflow: hidden;
        width: 1px;
        background: #fafafa;
    }
    &::-webkit-scrollbar:vertical {
        display: none;
    }
    &::-webkit-scrollbar:horizontal {
        height: 1px;
    }
    &::-webkit-scrollbar-button {
        display:none;
    }
    &::-webkit-scrollbar-piece {
        background: $color--gray;
    }
    &::-webkit-scrollbar-piece:start {
        background: $color--gray;
    }
    &::-webkit-scrollbar-thumb {
        background: $color--black;
    }
    &::-webkit-scrollbar-corner {
        background: $color--black;
    }
}
#mod-resultTableContent--result {
    margin-top: 20px;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    letter-spacing: -.4em;
    padding-bottom: 10px;
    &::-webkit-scrollbar {
        overflow: hidden;
        width: 1px;
        background: #fafafa;
    }
    &::-webkit-scrollbar:vertical {
        display: none;
    }
    &::-webkit-scrollbar:horizontal {
        height: 1px;
    }
    &::-webkit-scrollbar-button {
        display:none;
    }
    &::-webkit-scrollbar-piece {
        background: $color--gray;
    }
    &::-webkit-scrollbar-piece:start {
        background: $color--gray;
    }
    &::-webkit-scrollbar-thumb {
        background: $color--black;
    }
    &::-webkit-scrollbar-corner {
        background: $color--black;
    }
}
.mod-resultTable__player {
    min-width: 200px;
    padding: 10px;
    border-right: 1px solid $color--gray;
    border-bottom: 1px solid $color--gray;
}
.mod-resultTable__player__red {
    width: 10px;
    height: 20px;
    background: $color--red;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.mod-resultTable__player__white {
    width: 10px;
    height: 20px;
    background: $color--white;
    border: 1px solid $color--gray;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.mod-resultTable__player__name {
    font-size: 1.1rem;
    vertical-align: middle;
}
.mod-resultTable__point {
    min-width: 50px;
    padding: 5px 10px;
    border-right: 1px dotted $color--gray;
    text-align: center;
    font-size: 1.1rem;
    border-bottom: 1px solid $color--gray;
    background: $color--white;
}
.mod-resultTable__point--last {
    border-right: none;
}
.mod-resultTable__judge {
    min-width: 50px;
    border-left: 1px solid $color--gray;
    border-bottom: 1px solid $color--gray;
    text-align: center;
    padding: 5px 10px;
    line-height: 0;
}
.mod-resultTable__judge__mark--red {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: $color--red;
    display: inline-block;
    vertical-align: middle;
}
.mod-resultTable__judge__mark--white {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: $color--white;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid $color--gray;
}
.mod-resultTable--all__team {
    min-width: 200px;
    height: 50px;
    padding: 10px;
    border-right: 1px solid $color--gray;
    border-bottom: 1px solid $color--gray;
    text-align: center;
    position: relative;
    background: $color--white;
    &:last-child {
        border-right: none;
    }
}
.mod-resultTable--all__team__red {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 10px;
    height: 30px;
    background: $color--red;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
}
.mod-resultTable--all__team__white {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 10px;
    height: 30px;
    background: $color--white;
    border: 1px solid $color--gray;
    border-radius: 2px;
    display: inline-block;
}
.mod-resultTable--all__team__name {
    font-size: 1.3rem;
}
.mod-resultTable--all__result {
    min-width: 200px;
    height: 40px;
    padding: 10px;
    border-right: 1px solid $color--gray;
    text-align: center;
    position: relative;
    background: $color--white;
    line-height: 0;
    &:last-child {
        border-right: none;
    }
}
.mod-resultTable--all__result__num {
    font-size: 1.6rem;
}
.mod-resultTable--all__result__mark--red {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    background: $color--red;
    display: inline-block;
    vertical-align: middle;
}
.mod-resultTable--all__player {
    min-width: 120px;
    height: 40px;
    font-size: 1.1rem;
    text-align: center;
    padding: 5px 10px;
    border-bottom: 1px solid $color--gray;
}
.mod-resultTable--all__point {
    min-width: 50px;
    height: 40px;
    text-align: center;
    padding: 5px 10px;
    font-size: 1.1rem;
    border-bottom: 1px solid $color--gray;
    background: $color--white;
}
.mod-resultTable--all__judge {
    min-width: 50px;
    height: 40px;
    text-align: center;
    padding: 5px 10px;
    border-bottom: 1px solid $color--gray;

}
.mod-resultTable--all__player--left {
    border-right: 1px solid $color--gray;
}
.mod-resultTable--all__player--right {
    border-left: 1px solid $color--gray;
}
.mod-resultTable--all__point--left {
    border-right: 1px dotted $color--gray;
}
.mod-resultTable--all__point--right {
    border-left: 1px dotted $color--gray;
}
.mod-resultTable--all__judge--left {
    border-left: 1px solid $color--gray;
    border-right: 1px solid $color--gray;
    line-height: 0;
}
.mod-resultTable--all__judge--right {
    border-right: 1px solid $color--gray;
}
.mod-resultTable--all__judge__mark--red {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: $color--red;
    display: inline-block;
    vertical-align: middle;
}
.mod-resultTable--all__judge__mark--white {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: $color--white;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid $color--gray;
}
