// ANIMATED MODAL

.animatedModal__content {
    position: relative;
    height: 100%;
}
.close-animatedModal {
    position: fixed;
    top: 30px;
    right: 45px;
    z-index: 10000;
    @media (max-width: 768px) {
        right: 30px;
    }
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    z-index: 10;
    box-shadow: none;
    border-radius: 0;
    border: none;
    background: none;
    @media (max-width: 768px) {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        padding: 100px 0;
    }
}
.modal__title {
    margin-bottom: 30px;
    text-align: center;
    @media (max-width: 768px) {
        margin-bottom: 15px;
    }
}
.modal__title__text {
    vertical-align: middle;
    font-size: 3rem;
    color: $color--black;
    display: block;
    @media (max-width: 768px) {
        font-size: 2.4rem;
    }
}
.modal__title__subText {
    font-size: 1.1rem;
    font-family: 'Roboto';
    color: $color--gray;
    display: block;
    margin-top: 10px;
    @media (max-width: 768px) {
        margin-top: 5px;
    }
}
.modal__list {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 768px) {
        width: auto;
    }
    li {
        text-align: center;
        margin: 30px auto;
    }
}
.modalList__position {
    position: relative;
    display: inline-block;
}
.modalList__num {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: $color--white;
    font-size: 1.6rem;
    font-weight: bold;
    display: inline-block;
    border-radius: 50%;
    background: $color--navy;
}
.modalList__image {
    display: block;
    width: 150px;
    height: 150px;
    border: 1px solid $color--navy;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    img {
        width: 100%;
    }
}
.modalList__text {
    display: block;
    margin-top: 20px;
}
.modalList__title {
    font-size: 1.3rem;
    font-family: 'Roboto';
    font-weight: bold;
    line-height: 1.5;
    display: block;
}
.modalList__description {
    font-size: 1.3rem;
    line-height: 1.5;
    margin-top: 10px;
    display: block;
}

// Easy Responsive Tabs to Accordion

#parentHorizontalTab {
    background: $color--white;
    text-align: center;
    @media (max-width: 768px) {
        border-bottom: none;
    }
}
.resp-tab-content {
    border: none;
    padding: 0;
    position: relative;
    padding: 30px 0 0;
    text-align: left;
    @media (max-width: 768px) {
        padding: 30px 0;
    }
}
.resp-tab-active {
    border-color: $color--gray !important;
    border-top: 0 !important;
    border-bottom: 1px solid $color--gray !important;
    border-left: 0 !important;
    border-right: 0 !important;
    padding: 0 0 10px !important;
    @media (max-width: 768px) {
        border-top: none !important;
    }
}
h2.resp-tab-active {
    @media (max-width: 768px) {
        padding: 15px !important;
        margin: 0 !important;
    }
}
.resp-tabs-list {
    text-align: center;
    letter-spacing: -0.4em;
    li {
        letter-spacing: normal;
        margin: 0;
        background-color: $color--white !important;
        padding: 0 0 10px;
        margin-right: 30px;
        font-weight: normal;
        font-size: 1.1rem;
        &:hover {
            color: $color--gray;
        }
    }
}
.resp-accordion {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid $color--gray !important;
    border-color: $color--gray !important;
    background: $color--white !important;
    font-size: 1.1rem !important;
    padding: 15px 0 !important;
    margin: 0 15px !important;
    position: relative;
    text-align: left;
    @media (max-width: 768px) {
        margin: 0 !important;
    }
    &:first-child.resp-tab-active {
        @media (max-width: 768px) {
            border-top: none;
        }
    }
}
.resp-arrow {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 0;
    height: 0;
    margin-top: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid $color--black;
    &:before {
        position: absolute;
        bottom: 1px;
        left: -6px;
        content: "";
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid $color--white;
    }
}
h2.resp-tab-active {
    border-bottom: 1px solid $color--gray !important;
    padding: 15px 0 !important;
    span.resp-arrow {
        border-top: none;
        border-bottom: 6px solid $color--black;
        &:before {
            bottom: -7px;
            border-top: none;
            border-bottom: 6px solid $color--white;
        }
    }
}
