@import '_style.scss';

// TOP

/* about-: ABOUT */

.about-keyvisual {
    background: $color--white url(/common/images/common/noise--03.png);
    width: 100%;
}
.about-keyvisual__content {
    position: relative;
    height: 100%;
}
.about-header__logo {
    float: left;
    margin-top: 30px;
    a {
        font-size: 1.8rem;
        font-weight: bold;
        color: $color--black;
    }
}
.about-header__nav {
    float: right;
    li {
        float: left;
        margin-top: 34px;
        margin-left: 30px;
        &:first-child {
            margin-left: 0;
        }
        @media (max-width: 768px) {
            float: none;
            margin-top: 10px;
            margin-left: 0;
            text-align: right;
            &:first-child {
                margin-top: 34px;
            }
        }
    }
}
.about-header__about {
    a {
        font-size: 1.3rem;
        color: $color--black;
    }
}
.about-header__how {
    a {
        font-size: 1.3rem;
        color: $color--black;
    }
}
.about-channel {
    background: $color--white url(/common/images/common/noise--03.png);
}
.about-channel__content {
    padding-top: 120px;
    padding-bottom: 150px;
}
.about-channel__text {}
.about-channel__title {
    margin-bottom: 15px;
}
.about-channel__title__text {
    vertical-align: middle;
    font-size: 2.8rem;
    font-family: "Yu Mincho", "YuMincho";
    color: $color--black;
    display: block;
}
.about-channel__title__subText {
    font-size: 1.1rem;
    font-family: 'Roboto';
    font-weight: bold;
    color: $color--gray--03;
    display: block;
    margin-top: 10px;
}
.about-channel__description {
    font-size: 1.3rem;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 20px;
}
.about-channel__image {
    text-align: right;
    img {
        width: 100%;
    }
}

.about-project {
    background: $color--white url(/common/images/common/noise--03.png);
}
.about-project__content {
    padding-bottom: 150px;
}
.about-project__text {}
.about-project__title {
    margin-bottom: 15px;
}
.about-project__title__text {
    vertical-align: middle;
    font-size: 2.8rem;
    font-family: "Yu Mincho", "YuMincho";
    color: $color--black;
    display: block;
}
.about-project__title__subText {
    font-size: 1.1rem;
    font-family: 'Roboto';
    font-weight: bold;
    color: $color--gray--03;
    display: block;
    margin-top: 10px;
}
.about-project__description {
    font-size: 1.3rem;
    line-height: 2;
    margin-top: 20px;
    margin-bottom: 20px;
}
.about-project__image {
    text-align: left;
    img {
        width: 100%;
    }
}
