html, body, h1, h2, h3, h4, h5, h6, div, p, span, ul, li, table, th, td, dl, dt, dd, section, article, header, footer, main, small, select, a, a:link, a:hover, a:visited, a:active, a:focus, button {
  padding: 0;
  margin: 0;
  font-family: "Yu Mincho", "YuMincho";
  font-size: 10px;
  font-weight: normal;
  color: #000000;
  list-style-type: none;
  letter-spacing: 1px;
  text-decoration: none; }

html, body {
  overflow-x: hidden; }

/* mod-: MODULE */
.mod-body {
  background: #ffffff; }

.mod-header {
  width: 100%;
  height: 90px;
  position: relative; }

.mod-logo {
  position: absolute;
  top: 34px;
  left: 45px;
  line-height: 1;
  z-index: 1; }
  @media (max-width: 768px) {
    .mod-logo {
      left: 30px; } }
  .mod-logo a {
    font-size: 1.8rem;
    font-weight: bold;
    color: #000000; }
    .mod-logo a:hover {
      opacity: 0.8; }

.mod-nav {
  position: absolute;
  top: 30px;
  right: 45px;
  z-index: 10; }
  @media (max-width: 768px) {
    .mod-nav {
      top: 30px;
      right: 30px; } }

.mod-nav_button {
  border: 1px solid #cccccc;
  border-radius: 4px;
  background: none;
  color: #000000;
  padding: 5px 20px;
  white-space: nowrap; }
  .mod-nav_button:hover {
    color: #999999; }

.mod-nav_menu {
  left: auto;
  right: 0;
  margin-top: 10px;
  padding: 10px 0;
  border: 1px solid #cccccc;
  border-radius: 0;
  box-shadow: none; }

.mod-nav__about a {
  font-size: 1.1rem;
  color: #000000;
  padding: 5px 20px !important; }
  .mod-nav__about a:hover {
    background: none !important;
    color: #999999 !important; }

.mod-nav__how a {
  font-size: 1.1rem;
  color: #000000;
  padding: 5px 20px !important; }
  .mod-nav__how a:hover {
    background: none !important;
    color: #999999 !important; }

.mod-main {
  position: relative; }

.mod-tableArea {
  padding: 60px 30px; }
  @media (max-width: 768px) {
    .mod-tableArea {
      padding: 60px 15px; } }

.mod-table {
  width: 100%;
  display: table; }
  @media (max-width: 768px) {
    .mod-table {
      display: inline-block; } }

.mod-table__info {
  display: table-cell;
  vertical-align: top;
  width: 300px; }
  @media (max-width: 768px) {
    .mod-table__info {
      display: inline-block;
      width: 100%; } }

.mod-table__main {
  vertical-align: top;
  display: table-cell; }
  @media (max-width: 768px) {
    .mod-table__main {
      display: inline-block;
      width: 100%; } }

.mod-footer {
  width: 100%;
  padding: 30px 45px; }
  @media (max-width: 768px) {
    .mod-footer {
      padding: 30px; } }

.mod-footer__copyright {
  font-size: 1.1rem;
  font-family: 'Roboto';
  float: left;
  overflow: hidden; }

.mod-pankuzu {
  margin-bottom: 15px; }
  .mod-pankuzu li {
    float: left; }
  .mod-pankuzu .mod-pankuzu__link {
    font-size: 1.1rem;
    vertical-align: middle;
    line-height: 2; }
    .mod-pankuzu .mod-pankuzu__link:hover {
      color: #999999; }

.mod-pankuzu__text {
  color: #999999;
  font-size: 1.1rem;
  vertical-align: middle;
  line-height: 2; }

.mod-pankuzu__icon {
  vertical-align: middle;
  font-size: 1.1rem;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  line-height: 2; }

.mod-keyvidual {
  padding: 0 15px; }
  @media (max-width: 768px) {
    .mod-keyvidual {
      padding: 0 15px; } }

.mod-keyvidual__title {
  color: #000000;
  font-size: 2.4rem;
  text-align: left; }

.mod-keyvidual__title__times {
  color: #000000;
  font-size: 1.6rem;
  margin-bottom: 15px;
  display: block; }

.mod-keyvidual__info {
  margin-top: 30px;
  text-align: left; }

.mod-keyvidual__date {
  margin-bottom: 10px; }

.mod-keyvidual__date__text {
  font-size: 1.3rem;
  color: #000000;
  vertical-align: middle; }

.mod-keyvidual__place__text {
  font-size: 1.3rem;
  color: #000000;
  vertical-align: middle; }

.mod-resultTable tr:last-child .mod-resultTable__player,
.mod-resultTable tr:last-child .mod-resultTable__point,
.mod-resultTable tr:last-child .mod-resultTable__judge {
  border-bottom: none; }

#mod-resultTableContent {
  margin-top: 20px;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  letter-spacing: -.4em;
  padding-bottom: 10px; }
  #mod-resultTableContent::-webkit-scrollbar {
    overflow: hidden;
    width: 1px;
    background: #fafafa; }
  #mod-resultTableContent::-webkit-scrollbar:vertical {
    display: none; }
  #mod-resultTableContent::-webkit-scrollbar:horizontal {
    height: 1px; }
  #mod-resultTableContent::-webkit-scrollbar-button {
    display: none; }
  #mod-resultTableContent::-webkit-scrollbar-piece {
    background: #cccccc; }
  #mod-resultTableContent::-webkit-scrollbar-piece:start {
    background: #cccccc; }
  #mod-resultTableContent::-webkit-scrollbar-thumb {
    background: #000000; }
  #mod-resultTableContent::-webkit-scrollbar-corner {
    background: #000000; }

#mod-resultTableContent--result {
  margin-top: 20px;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  letter-spacing: -.4em;
  padding-bottom: 10px; }
  #mod-resultTableContent--result::-webkit-scrollbar {
    overflow: hidden;
    width: 1px;
    background: #fafafa; }
  #mod-resultTableContent--result::-webkit-scrollbar:vertical {
    display: none; }
  #mod-resultTableContent--result::-webkit-scrollbar:horizontal {
    height: 1px; }
  #mod-resultTableContent--result::-webkit-scrollbar-button {
    display: none; }
  #mod-resultTableContent--result::-webkit-scrollbar-piece {
    background: #cccccc; }
  #mod-resultTableContent--result::-webkit-scrollbar-piece:start {
    background: #cccccc; }
  #mod-resultTableContent--result::-webkit-scrollbar-thumb {
    background: #000000; }
  #mod-resultTableContent--result::-webkit-scrollbar-corner {
    background: #000000; }

.mod-resultTable__player {
  min-width: 200px;
  padding: 10px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc; }

.mod-resultTable__player__red {
  width: 10px;
  height: 20px;
  background: #cb1b45;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }

.mod-resultTable__player__white {
  width: 10px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }

.mod-resultTable__player__name {
  font-size: 1.1rem;
  vertical-align: middle; }

.mod-resultTable__point {
  min-width: 50px;
  padding: 5px 10px;
  border-right: 1px dotted #cccccc;
  text-align: center;
  font-size: 1.1rem;
  border-bottom: 1px solid #cccccc;
  background: #ffffff; }

.mod-resultTable__point--last {
  border-right: none; }

.mod-resultTable__judge {
  min-width: 50px;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  text-align: center;
  padding: 5px 10px;
  line-height: 0; }

.mod-resultTable__judge__mark--red {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #cb1b45;
  display: inline-block;
  vertical-align: middle; }

.mod-resultTable__judge__mark--white {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #ffffff;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #cccccc; }

.mod-resultTable--all__team {
  min-width: 200px;
  height: 50px;
  padding: 10px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  text-align: center;
  position: relative;
  background: #ffffff; }
  .mod-resultTable--all__team:last-child {
    border-right: none; }

.mod-resultTable--all__team__red {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 30px;
  background: #cb1b45;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle; }

.mod-resultTable--all__team__white {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  display: inline-block; }

.mod-resultTable--all__team__name {
  font-size: 1.3rem; }

.mod-resultTable--all__result {
  min-width: 200px;
  height: 40px;
  padding: 10px;
  border-right: 1px solid #cccccc;
  text-align: center;
  position: relative;
  background: #ffffff;
  line-height: 0; }
  .mod-resultTable--all__result:last-child {
    border-right: none; }

.mod-resultTable--all__result__num {
  font-size: 1.6rem; }

.mod-resultTable--all__result__mark--red {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background: #cb1b45;
  display: inline-block;
  vertical-align: middle; }

.mod-resultTable--all__player {
  min-width: 120px;
  height: 40px;
  font-size: 1.1rem;
  text-align: center;
  padding: 5px 10px;
  border-bottom: 1px solid #cccccc; }

.mod-resultTable--all__point {
  min-width: 50px;
  height: 40px;
  text-align: center;
  padding: 5px 10px;
  font-size: 1.1rem;
  border-bottom: 1px solid #cccccc;
  background: #ffffff; }

.mod-resultTable--all__judge {
  min-width: 50px;
  height: 40px;
  text-align: center;
  padding: 5px 10px;
  border-bottom: 1px solid #cccccc; }

.mod-resultTable--all__player--left {
  border-right: 1px solid #cccccc; }

.mod-resultTable--all__player--right {
  border-left: 1px solid #cccccc; }

.mod-resultTable--all__point--left {
  border-right: 1px dotted #cccccc; }

.mod-resultTable--all__point--right {
  border-left: 1px dotted #cccccc; }

.mod-resultTable--all__judge--left {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  line-height: 0; }

.mod-resultTable--all__judge--right {
  border-right: 1px solid #cccccc; }

.mod-resultTable--all__judge__mark--red {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #cb1b45;
  display: inline-block;
  vertical-align: middle; }

.mod-resultTable--all__judge__mark--white {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #ffffff;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #cccccc; }

.animatedModal__content {
  position: relative;
  height: 100%; }

.close-animatedModal {
  position: absolute;
  top: 30px;
  right: 45px;
  z-index: 100; }
  @media (max-width: 768px) {
    .close-animatedModal {
      right: 30px; } }

.modal-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
  box-shadow: none;
  border-radius: 0;
  border: none;
  background: none; }
  @media (max-width: 768px) {
    .modal-content {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      padding: 100px 0; } }

.modal__title {
  margin-bottom: 15px;
  text-align: center; }

.modal__title__text {
  vertical-align: middle;
  font-size: 1.8rem;
  color: #000000;
  display: block; }

.modal__title__subText {
  font-size: 1.1rem;
  font-family: 'Roboto';
  color: #cccccc;
  display: block;
  margin-top: 5px; }

.modal__list {
  width: 720px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 768px) {
    .modal__list {
      width: auto; } }
  .modal__list li {
    text-align: center;
    margin: 30px auto; }

.modalList__position {
  position: relative;
  display: inline-block; }

.modalList__num {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #0f2540;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
  display: inline-block;
  border-radius: 50%; }

.modalList__image {
  display: block;
  width: 150px;
  height: 150px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto; }
  .modalList__image img {
    width: 100%; }

.modalList__text {
  display: block;
  margin-top: 20px; }

.modalList__title {
  font-size: 1.3rem;
  font-family: 'Roboto';
  font-weight: bold;
  line-height: 1.5;
  display: block; }

.modalList__description {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-top: 10px;
  display: block; }

#parentHorizontalTab {
  background: #ffffff;
  text-align: center;
  padding: 0 15px; }
  @media (max-width: 768px) {
    #parentHorizontalTab {
      border-bottom: none;
      padding: 60px 15px 0; } }

.resp-tab-content {
  border: none;
  padding: 0;
  position: relative;
  padding: 30px 0 0;
  text-align: left; }
  @media (max-width: 768px) {
    .resp-tab-content {
      padding: 30px 0; } }

.resp-tab-active {
  border-color: #cccccc !important;
  border-top: 0 !important;
  border-bottom: 1px solid #cccccc !important;
  border-left: 0 !important;
  border-right: 0 !important;
  padding: 0 0 10px !important; }
  @media (max-width: 768px) {
    .resp-tab-active {
      border-top: none !important; } }

@media (max-width: 768px) {
  h2.resp-tab-active {
    padding: 15px !important;
    margin: 0 !important; } }

.resp-tabs-list {
  text-align: center;
  letter-spacing: -0.4em; }
  .resp-tabs-list li {
    letter-spacing: normal;
    margin: 0;
    background-color: #ffffff !important;
    padding: 0 0 10px;
    margin-right: 30px;
    font-weight: normal;
    font-size: 1.1rem; }
    .resp-tabs-list li:hover {
      color: #999999; }

.resp-accordion {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #cccccc !important;
  border-color: #cccccc !important;
  background: #ffffff !important;
  font-size: 1.1rem !important;
  padding: 15px 0 !important;
  margin: 0 15px !important;
  position: relative;
  text-align: left; }
  @media (max-width: 768px) {
    .resp-accordion {
      margin: 0 !important; } }
  @media (max-width: 768px) {
    .resp-accordion:first-child.resp-tab-active {
      border-top: none; } }

.resp-arrow {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000000; }
  .resp-arrow:before {
    position: absolute;
    bottom: 1px;
    left: -6px;
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff; }

h2.resp-tab-active {
  border-bottom: 1px solid #cccccc !important;
  padding: 15px 0 !important; }
  h2.resp-tab-active span.resp-arrow {
    border-top: none;
    border-bottom: 6px solid #000000; }
    h2.resp-tab-active span.resp-arrow:before {
      bottom: -7px;
      border-top: none;
      border-bottom: 6px solid #ffffff; }

.noise {
  animation: noise_anima 1s steps(10) infinite; }

@keyframes noise_anima {
  from {
    background-position: 0 0; }
  to {
    background-position: 123px 456px; } }
@-webkit-keyframes noise_anima {
  from {
    background-position: 0 0; }
  to {
    background-position: 123px 456px; } }
.br--on {
  display: none; }
  @media (max-width: 768px) {
    .br--on {
      display: block; } }

@media (max-width: 768px) {
  .br--off {
    display: none; } }

/* about-: ABOUT */
.about-keyvisual {
  background: #ffffff url(/common/images/common/noise--03.png);
  width: 100%; }

.about-keyvisual__content {
  position: relative;
  height: 100%; }

.about-header__logo {
  float: left;
  margin-top: 30px; }
  .about-header__logo a {
    font-size: 1.8rem;
    font-weight: bold;
    color: #000000; }

.about-header__nav {
  float: right; }
  .about-header__nav li {
    float: left;
    margin-top: 34px;
    margin-left: 30px; }
    .about-header__nav li:first-child {
      margin-left: 0; }
    @media (max-width: 768px) {
      .about-header__nav li {
        float: none;
        margin-top: 10px;
        margin-left: 0;
        text-align: right; }
        .about-header__nav li:first-child {
          margin-top: 34px; } }

.about-header__about a {
  font-size: 1.3rem;
  color: #000000; }

.about-header__how a {
  font-size: 1.3rem;
  color: #000000; }

.about-channel {
  padding: 60px 30px; }
  @media (max-width: 768px) {
    .about-channel {
      padding: 60px 15px; } }

.about-channel__text {
  padding: 0 15px;
  vertical-align: top; }
  @media (max-width: 768px) {
    .about-channel__text {
      margin-left: 0; } }

.about-channel__title {
  margin-bottom: 15px; }

.about-channel__title__text {
  vertical-align: middle;
  font-size: 2.4rem;
  color: #000000;
  display: block; }

.about-channel__title__subText {
  font-size: 1.1rem;
  font-family: 'Roboto';
  color: #cccccc;
  display: block;
  margin-top: 5px; }

.about-channel__description {
  font-size: 1.3rem;
  line-height: 2;
  margin-bottom: 20px; }

.about-channel__image {
  padding: 0 15px; }
  .about-channel__image img {
    width: 100%; }

.about-project {
  padding: 60px 30px; }
  @media (max-width: 768px) {
    .about-project {
      padding: 60px 15px; } }

.about-project__content {
  width: 100%; }

.about-project__text {
  padding: 0 15px;
  vertical-align: top; }
  @media (max-width: 768px) {
    .about-project__text {
      margin-left: 0;
      display: inline-block; } }

.about-project__title {
  margin-bottom: 15px; }

.about-project__title__text {
  vertical-align: middle;
  font-size: 2.4rem;
  color: #000000;
  display: block; }

.about-project__title__subText {
  font-size: 1.1rem;
  font-family: 'Roboto';
  color: #cccccc;
  display: block;
  margin-top: 5px; }

.about-project__description {
  font-size: 1.3rem;
  line-height: 2;
  margin-bottom: 20px; }

.about-project__image {
  width: 300px;
  padding: 0 15px;
  vertical-align: top; }
  @media (max-width: 768px) {
    .about-project__image {
      display: inline-block;
      width: 100%; } }
  .about-project__image img {
    width: 100%; }
