html, body, h1, h2, h3, h4, h5, h6, div, p, span, ul, li, table, th, td, dl, dt, dd, section, article, header, footer, main, small, select, a, a:link, a:hover, a:visited, a:active, a:focus, button {
  padding: 0;
  margin: 0;
  font-family: "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif";
  font-size: 10px;
  font-weight: normal;
  color: #000000;
  list-style-type: none;
  letter-spacing: 1px;
  text-decoration: none; }

html, body {
  overflow-x: hidden; }

/* mod-: MODULE */
.mod-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  background: #ffffff url(/common/images/common/noise--02.png);
  box-shadow: 0 2px #dddddd;
  z-index: 100;
  -webkit-transition: background .3s;
  transition: background .3s; }

.mod-header__logo {
  display: inline-block;
  margin-top: 8px; }
  .mod-header__logo a {
    font-size: 1.8rem;
    font-weight: bold;
    color: #0f2540;
    -webkit-transition: color .3s;
    transition: color .3s; }

.mod-header__language {
  position: absolute;
  top: 12px;
  right: 30px; }
  .mod-header__language a {
    font-size: 1.1rem;
    color: #0f2540;
    -webkit-transition: color .3s;
    transition: color .3s; }

.mod-header--fixed {
  background: #0f2540 url(/common/images/common/noise--02.png);
  -webkit-transition: background .3s;
  transition: background .3s; }
  .mod-header--fixed .mod-header__logo a {
    color: #ffffff;
    -webkit-transition: color .3s;
    transition: color .3s; }
  .mod-header--fixed .mod-header__language a {
    color: #ffffff;
    -webkit-transition: color .3s;
    transition: color .3s; }

#mod-footer {
  width: 100%;
  background: #ffffff url(/common/images/common/noise--03.png);
  padding: 0 15px 50px;
  text-align: center; }

.mod-footer__copyright {
  font-size: 1.1rem;
  font-weight: bold; }

.mod-pankuzuContent {
  padding-top: 20px; }

.mod-pankuzu li {
  float: left; }
.mod-pankuzu .mod-pankuzu__link {
  font-size: 1.1rem;
  vertical-align: middle; }
  .mod-pankuzu .mod-pankuzu__link:hover {
    color: #cccccc; }

.mod-pankuzu__text {
  color: #cccccc;
  font-size: 1.1rem;
  vertical-align: middle; }

.mod-pankuzu__icon {
  vertical-align: middle;
  font-size: 1.1rem;
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 10px;
  float: left; }

.mod-resultTable {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #cccccc; }
  .mod-resultTable tr:last-child .mod-resultTable__player,
  .mod-resultTable tr:last-child .mod-resultTable__point,
  .mod-resultTable tr:last-child .mod-resultTable__judge {
    border-bottom: none; }

.mod-resultTable__player {
  background: #f7f7f7;
  min-width: 200px;
  padding: 10px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc; }

.mod-resultTable__player__red {
  width: 10px;
  height: 30px;
  background: #cb1b45;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }

.mod-resultTable__player__white {
  width: 10px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }

.mod-resultTable__player__name {
  font-size: 1.1rem; }

.mod-resultTable__point {
  min-width: 50px;
  padding: 10px;
  border-right: 1px dotted #cccccc;
  text-align: center;
  font-size: 1.3rem;
  border-bottom: 1px solid #cccccc;
  background: #ffffff; }

.mod-resultTable__point--last {
  border-right: none; }

.mod-resultTable__judge {
  min-width: 50px;
  background: #f7f7f7;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  text-align: center;
  padding: 10px; }

.mod-resultTable__judge__mark--red {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #cb1b45;
  display: inline-block;
  vertical-align: middle; }

.mod-resultTable__judge__mark--white {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #ffffff;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #cccccc; }

.mod-resultTable--all {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #cccccc; }

.mod-resultTable--all__team {
  min-width: 200px;
  height: 60px;
  padding: 10px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  text-align: center;
  position: relative;
  background: #ffffff; }

.mod-resultTable--all__team__red {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 40px;
  background: #cb1b45;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle; }

.mod-resultTable--all__team__white {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  display: inline-block; }

.mod-resultTable--all__team__name {
  font-size: 1.3rem; }

.mod-resultTable--all__result {
  min-width: 200px;
  height: 60px;
  padding: 10px;
  border-right: 1px solid #cccccc;
  text-align: center;
  position: relative;
  background: #ffffff; }

.mod-resultTable--all__result__num {
  font-size: 1.8rem; }

.mod-resultTable--all__result__mark--red {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #cb1b45;
  display: inline-block;
  vertical-align: middle; }

.mod-resultTable--all__player {
  min-width: 150px;
  height: 50px;
  font-size: 1.1rem;
  text-align: center;
  padding: 10px;
  background: #f7f7f7;
  border-bottom: 1px solid #cccccc; }

.mod-resultTable--all__point {
  min-width: 50px;
  height: 50px;
  text-align: center;
  padding: 10px;
  font-size: 1.3rem;
  border-bottom: 1px solid #cccccc;
  background: #ffffff; }

.mod-resultTable--all__judge {
  min-width: 50px;
  height: 50px;
  background: #f7f7f7;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #cccccc; }

.mod-resultTable--all__player--left {
  border-right: 1px solid #cccccc; }

.mod-resultTable--all__player--right {
  border-left: 1px solid #cccccc; }

.mod-resultTable--all__point--left {
  border-right: 1px dotted #cccccc; }

.mod-resultTable--all__point--right {
  border-left: 1px dotted #cccccc; }

.mod-resultTable--all__judge--left {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc; }

.mod-resultTable--all__judge--right {
  border-right: 1px solid #cccccc; }

.mod-resultTable--all__judge__mark--red {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #cb1b45;
  display: inline-block;
  vertical-align: middle; }

.mod-resultTable--all__judge__mark--white {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #ffffff;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #cccccc; }

.scrollNav.scrollNav--fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  min-width: 670px;
  margin-top: 0;
  background: #f7f7f7 url(/common/images/common/noise--02.png);
  z-index: 10; }
  .scrollNav.scrollNav--fixed .scrollNav__content {
    margin-top: 16px;
    margin-left: 15px;
    margin-right: 15px; }

.nav-tabs {
  border: 0; }
  .nav-tabs > li > a {
    padding: 0;
    margin: 0;
    line-height: 1;
    border: none;
    background: none; }
    .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
      background: none;
      outline: none; }
  .nav-tabs > li.active a,
  .nav-tabs > li.active a:focus,
  .nav-tabs > li.active a:hover {
    cursor: pointer;
    border: none;
    color: #cccccc;
    background: none;
    border: none; }

.animatedModal__content {
  position: relative; }

.modal-content {
  box-shadow: none;
  border-radius: 0;
  border: none; }

.close-animatedModal {
  position: absolute;
  top: 30px;
  right: 15px; }
  @media (max-width: 768px) {
    .close-animatedModal {
      right: 30px; } }

.modal-content {
  margin-top: 180px;
  margin-bottom: 150px; }

.modal__title {
  margin-bottom: 15px;
  text-align: center; }

.modal__title__text {
  vertical-align: middle;
  font-size: 2.8rem;
  font-family: "Yu Mincho", "YuMincho";
  color: #000000;
  display: block; }

.modal__title__subText {
  font-size: 1.1rem;
  font-family: 'Roboto';
  font-weight: bold;
  color: #999999;
  display: block;
  margin-top: 10px; }

.modal__list {
  width: 720px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 768px) {
    .modal__list {
      width: auto; } }
  .modal__list li {
    text-align: center;
    margin: 30px auto; }

.modalList__position {
  position: relative;
  display: inline-block; }

.modalList__num {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #0f2540;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
  display: inline-block;
  border-radius: 50%; }

.modalList__image {
  display: block;
  width: 150px;
  height: 150px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto; }
  .modalList__image img {
    width: 100%; }

.modalList__text {
  display: block;
  margin-top: 20px; }

.modalList__title {
  font-size: 1.6rem;
  font-weight: bold;
  line-heihgt: 1.5;
  display: block; }

.modalList__description {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-top: 10px;
  display: block; }

.noise {
  animation: noise_anima 1s steps(10) infinite; }

@keyframes noise_anima {
  from {
    background-position: 0 0; }
  to {
    background-position: 123px 456px; } }
@-webkit-keyframes noise_anima {
  from {
    background-position: 0 0; }
  to {
    background-position: 123px 456px; } }
.br--on {
  display: none; }
  @media (max-width: 768px) {
    .br--on {
      display: block; } }

/* play-: PLAY */
.play-keyvidual {
  margin-top: 40px;
  position: relative;
  width: 100%;
  min-width: 670px;
  height: 100px;
  background: #0f2540 url(/common/images/common/noise--02.png);
  z-index: -1; }

.play-keyvidual__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-width: 670px;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center; }

.play-main {
  background: #ffffff url(/common/images/common/noise--02.png); }

.play-videoArea {
  padding-bottom: 120px; }

.play-video {
  padding-top: 30px; }

.play-video__content {
  padding-top: 60px;
  padding-bottom: 60px; }
  .play-video__content:last-child {
    border-top: 1px dotted #cccccc;
    padding-bottom: 0; }

.play-video__title {
  text-align: center;
  margin-bottom: 20px; }

.play-video__title__player {
  display: inline-block; }

.play-video__title__name {
  font-size: 1.3rem;
  vertical-align: middle; }

.play-video__title__red {
  width: 10px;
  height: 30px;
  background: #cb1b45;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }

.play-video__title__white {
  width: 10px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }

.play-video__title__icon {
  font-size: 1.3rem;
  color: #cccccc;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px; }

.play-video__video {
  margin-bottom: 40px;
  text-align: center;
  line-height: 1; }
  .play-video__video .video-stream {
    border-radius: 4px;
    overflow: hidden; }

.play-video__result {
  text-align: center; }
  .play-video__result a {
    display: inline-block;
    text-align: center;
    padding: 10px 60px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    box-shadow: 0 2px #dddddd;
    background: #ffffff; }
    .play-video__result a:hover {
      background: #f7f7f7; }

.play-video__result__text {
  vertical-align: middle;
  font-size: 1.1rem; }

.play-video__result__icon--close {
  vertical-align: middle; }

.play-video__result__icon--open {
  vertical-align: middle;
  display: none; }

.play-navArea {
  width: 100%;
  height: 25px;
  display: block;
  margin-top: 30px; }

.play-nav__content {
  position: relative;
  text-align: center;
  height: 25px; }

.play-nav__list {
  display: inline-block;
  margin-top: 6px; }
  .play-nav__list li {
    float: left;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1; }
  .play-nav__list a {
    font-size: 1.3rem;
    color: #000000; }
    .play-nav__list a:hover {
      color: #cccccc; }

.play-nav__result {
  position: absolute;
  top: 0;
  right: 0; }
  .play-nav__result a {
    display: inline-block;
    padding: 5px 20px;
    font-size: 1.1rem;
    background: #cb1b45;
    color: #ffffff;
    box-shadow: 0 2px #dddddd;
    border-radius: 4px; }
    .play-nav__result a:hover {
      background: #999999; }

/* playIndividual-: PLAY INDIVIDUAL */
/* playTeam-: PLAY TEAM */
