@import '_style.scss';

// TOP

/* top-: TOP */

.top-keyvisual {
    position: relative;
    background: $color--navy url(/common/images/common/noise--02.png);
    width: 100%;
    min-width: 670px;
    height: 400px;
}
.top-header {
    width: 100%;
    min-width: 670px;
    padding-left: 30px;
    padding-right: 30px;
}
.top-header__language {
    float: right;
    margin-top: 30px;
    a {
        font-size: 1.3rem;
        color: $color--white;
    }
}
.top-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    min-width: 670px;
}
.top-title__logo {
    margin-bottom: 22px;
    position: relative;
    font-size: 4rem;
    font-weight: bold;
    color: $color--white;
    &:before {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 350px;
        height: 2px;
        content: '';
        background: $color--white;
    }
    &:after {
        position: absolute;
        bottom: -24px;
        left: 50%;
        transform: translateX(-50%);
        width: 350px;
        height: 1px;
        content: '';
        background: $color--white;
    }
}
.top-title__catchcopy {
    padding-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: $color--white;
}
.top-news {
    background: $color--gray url(/common/images/common/noise--02.png);
}
.top-news__content {
    padding-top: 60px;
    padding-bottom: 60px;
}
.top-news__title {
    margin-bottom: 15px;
}
.top-news__title__icon {
    margin-right: 5px;
    font-size: 2.4rem;
    vertical-align: middle;
}
.top-news__title__text {
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: bold;
    color: $color--black;
}
.top-news__list {
    a {
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid $color--gray--02;
        padding-top: 15px;
        padding-bottom: 15px;
        position: relative;
        &:hover {
            opacity: 0.8;
        }
    }
}
.top-newsList__icon {
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 1.8rem;
    vertical-align: middle;
}
.top-newsList__date {
    margin-right: 10px;
    font-size: 1.1rem;
    color: $color--gray--03;
    vertical-align: middle;
}
.top-newsList__text {
    max-width: 540px;
    display: inline-block;
    position: relative;
    font-size: 1.3rem;
    vertical-align: middle;
    background: linear-gradient(transparent 60%, rgba(15,37,64,0.1) 60%);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis; /* Safari */
    -o-text-overflow: ellipsis; /* Opera */
}
.top-game {
    background: $color--white url(/common/images/common/noise--02.png);
}
.top-game__content {
    padding-top: 60px;
    padding-bottom: 120px;
}
.top-game__title {
    margin-bottom: 15px;
}
.top-game__title__icon {
    margin-right: 5px;
    font-size: 2.4rem;
    vertical-align: middle;
}
.top-game__title__text {
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: bold;
    color: $color--black;
}
.top-game__list {
    margin-left: -15px;
    margin-right: -15px;
    li {
        padding: 15px;
    }
    a {
        position: relative;
        display: inline-block;
        width: 100%;
        height: auto;
        border-radius: 2px;
        &:hover {
            opacity: 0.8;
        }
    }
}
.top-gameList__tag {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
    font-size: 1.1rem;
    font-weight: bold;
    color: $color--white;
    background: $color--red;
    border-radius: 2px 0 2px 0;
    display: inline-block;
}
.top-gameList__date {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1.1rem;
    color: $color--white;
    text-shadow: 0 1px 3px $color--black;
}
.top-gameList__image {
    display: block;
    margin-bottom: 10px;
    border-radius: 2px;
    overflow: hidden;
    img {
        width: 100%;
    }
}
.top-gameList__text {
    font-size: 1.3rem;
    line-height: 1.5;
    background: linear-gradient(transparent 60%, rgba(15,37,64,0.1) 60%);
}
