@import '_style.scss';

// TOP

/* top-: TOP */

.top-keyvisual {
    background: $color--white url(/common/images/common/noise--03.png);
    width: 100%;
}
.top-keyvisual__content {
    position: relative;
    height: 100%;
}
.top-header__logo {
    float: left;
    margin-top: 30px;
    a {
        font-size: 1.8rem;
        font-weight: bold;
        color: $color--black;
    }
}
.top-header__nav {
    float: right;
    li {
        float: left;
        margin-top: 34px;
        margin-left: 30px;
        &:first-child {
            margin-left: 0;
        }
        @media (max-width: 768px) {
            float: none;
            margin-top: 10px;
            margin-left: 0;
            text-align: right;
            &:first-child {
                margin-top: 34px;
            }
        }
    }
}
.top-header__about {
    a {
        font-size: 1.3rem;
        color: $color--black;
    }
}
.top-header__how {
    a {
        font-size: 1.3rem;
        color: $color--black;
    }
}
.top-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
.top-title__catchcopy {
    font-size: 3.2rem;
    font-family: "Yu Mincho", "YuMincho";
    line-height: 1.5;
    color: $color--black;
    @media (max-width: 768px) {
        margin-top: -100px;
    }
}
.top-news {
    position: absolute;
    bottom: 30px;
    left: 15px;
    right: 15px;
}
.top-news__title {
    margin-right: 30px;
    margin-bottom: 20px;
    float: left;
    @media (max-width: 768px) {
        float: none;
    }
}
.top-news__title__text {
    font-size: 2.4rem;
    font-family: "Yu Mincho", "YuMincho";
    color: $color--black;
    display: block;
}
.top-news__title__subText {
    font-size: 1.1rem;
    font-family: 'Roboto';
    font-weight: bold;
    color: $color--gray--03;
    display: block;
    margin-top: 5px;
}
.top-news__list {
    float: left;
    @media (max-width: 768px) {
        float: none;
    }
    li {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        display: inline-block;
        width: 100%;
        position: relative;
        &:hover {
            opacity: 0.8;
        }
    }
}
.top-newsList__date {
    margin-right: 10px;
    font-size: 1.1rem;
    color: $color--gray--03;
}
.top-newsList__text {
    display: inline-block;
    position: relative;
    font-size: 1.3rem;
    vertical-align: middle;
    color: $color--blue;
    @media (max-width: 768px) {
        display: block;
        margin-top: 5px;
    }
}
.top-game {
    background: $color--white url(/common/images/common/noise--03.png);
}
.top-game__content {
    padding-top: 120px;
    padding-bottom: 135px;
}
.top-game__title {
    margin-bottom: 15px;
    text-align: center;
}
.top-game__title__text {
    vertical-align: middle;
    font-size: 2.8rem;
    font-family: "Yu Mincho", "YuMincho";
    color: $color--black;
    display: block;
}
.top-game__title__subText {
    font-size: 1.1rem;
    font-family: 'Roboto';
    font-weight: bold;
    color: $color--gray--03;
    display: block;
    margin-top: 10px;
}
.top-game__list {
    margin-left: -15px;
    margin-right: -15px;
    @media (max-width: 768px) {
        margin-left: 0;
        margin-right: 0;
    }
    li {
        padding: 15px;
    }
    a {
        position: relative;
        display: inline-block;
        width: 100%;
        height: auto;
        border-radius: 2px;
        &:hover {
            opacity: 0.8;
        }
    }
}
.top-gameList__tag {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 15px;
    font-size: 1.1rem;
    font-weight: bold;
    color: $color--white;
    background: $color--red;
    display: inline-block;
}
.top-gameList__date {
    font-size: 1.1rem;
    color: $color--gray--03;
    display: block;
}
.top-gameList__image {
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    img {
        width: 100%;
    }
}
.top-gameList__text {
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: bold;
}
