@import '_style.scss';

// TOP

/* top-: TOP */

#top {
    background: $color--white;
}
.top-keyvisual {
    position: relative;
}
.top-bg {
    width: 100%;
    height: 550px;
    @media (max-width: 768px) {
        height: 350px;
    }
}
.top-image {
    width: 100%;
    position: relative;
}
.top-title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.top-title__catchcopy {
    font-size: 3.2rem;
    line-height: 1.5;
    color: $color--black;
    @media (max-width: 768px) {
        font-size: 2.2rem;
    }
}
.top-arrow {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 0;
    @media (max-width: 768px) {
        bottom: 30px;
    }
    a {
        width: 60px;
        height: 21px;
        display: inline-block;
        overflow: hidden;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            border-top: 20px solid $color--black;
            border-bottom: 20px solid transparent;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            top: 1px;
            left: 50%;
            transform: translateX(-50%);
        }
        &:after {
            content: "";
            position: absolute;
            border-top: 20px solid $color--white;
            border-bottom: 20px solid transparent;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }
        &:hover {
            &:before {
                border-top: 20px solid $color--gray;
            }
        }
    }
}
.top-news {
    padding: 60px 30px;
    width: 100%;
    background: $color--gray--02;
    @media (max-width: 768px) {
        padding: 60px 15px;
    }
}
.top-news__table {
    width: 100%;
    th {
        width: 200px;
        text-align: center;
        vertical-align: top;
        padding: 0 15px;
        @media (max-width: 768px) {
            display: block;
            border-right: none;
            width: 100%;
            padding: 0 15px 45px;
        }
    }
    td {
        padding: 0 15px;
        @media (max-width: 768px) {
            display: block;
            padding: 0 15px;
        }
    }
}
.top-news__title__text {
    font-size: 1.8rem;
    color: $color--black;
    display: block;
    white-space: nowrap;
    text-align: left;
    @media (max-width: 768px) {
        text-align: center;
    }
}
.top-news__title__subText {
    font-size: 1.1rem;
    font-family: 'Roboto';
    color: $color--gray;
    display: block;
    margin-top: 5px;
    text-align: left;
    @media (max-width: 768px) {
        text-align: center;
    }
}
.top-news__list {
    width: 100%;
    dt {
        float: left;
    }
    dd {
        margin-left: 80px;
        margin-bottom: 10px;
        @media (max-width: 768px) {
            margin-bottom: 15px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.top-newsList__date {
    font-size: 1.1rem;
    color: $color--gray;
    line-height: 1.8rem;
}
.top-newsList__text {
    a {
        font-size: 1.3rem;
        border-bottom: 1px solid $color--black;
        display: inline;
        &:hover {
            border-bottom: none;
        }
    }
}

.top-game {
    padding: 60px 30px;
    @media (max-width: 768px) {
        padding: 60px 15px;
    }
}
.top-game__table {
    width: 100%;
    th {
        width: 200px;
        text-align: center;
        vertical-align: top;
        padding: 0 15px;
        @media (max-width: 768px) {
            display: block;
            border-right: none;
            width: 100%;
            padding: 0 15px 45px;
        }
    }
    td {
        padding: 0 15px;
        @media (max-width: 768px) {
            display: block;
            padding: 0 15px;
        }
    }
}
.top-game__title__text {
    font-size: 1.8rem;
    color: $color--black;
    display: block;
    text-align: left;
    vertical-align: middle;
    @media (max-width: 768px) {
        text-align: center;
    }
}
.top-game__title__subText {
    font-size: 1.1rem;
    font-family: 'Roboto';
    color: $color--gray;
    display: block;
    margin-top: 5px;
    text-align: left;
    @media (max-width: 768px) {
        text-align: center;
    }
}
.top-game__list {
    margin-top: -15px;
    margin-bottom: -15px;
    li {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.top-gameList__date {
    font-size: 1.1rem;
    color: $color--gray;
    margin-top: 5px;
    display: block;
}
.top-gameList__text {
    width: 100%;
    display: block;
    a {
        font-size: 2.2rem;
        border-bottom: 1px solid $color--black;
        display: inline;
        &:hover {
            border-bottom: none;
        }
    }
}
