html, body, h1, h2, h3, h4, h5, h6, div, p, span, ul, li, table, th, td, dl, dt, dd, section, article, header, footer, main, small, select, a, a:link, a:hover, a:visited, a:active, a:focus, button {
  padding: 0;
  margin: 0;
  font-family: "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif";
  font-size: 10px;
  font-weight: normal;
  color: #000000;
  list-style-type: none;
  letter-spacing: 1px;
  text-decoration: none; }

html, body {
  overflow-x: hidden; }

.container {
  width: 730px; }
  @media (min-width: 768px) {
    .container {
      width: 730px; } }
  @media (min-width: 992px) {
    .container {
      width: 730px; } }
  @media (min-width: 1200px) {
    .container {
      width: 730px; } }

/* mod-: MODULE */
.mod-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 730px;
  height: 40px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  background: #ffffff url(/common/images/common/noise--02.png);
  box-shadow: 0 2px #dddddd;
  z-index: 100;
  -webkit-transition: background .3s;
  transition: background .3s; }

.mod-header__logo {
  display: inline-block;
  margin-top: 8px; }
  .mod-header__logo a {
    font-size: 1.8rem;
    font-weight: bold;
    color: #0f2540;
    -webkit-transition: color .3s;
    transition: color .3s; }

.mod-header__language {
  position: absolute;
  top: 12px;
  right: 30px; }
  .mod-header__language a {
    font-size: 1.1rem;
    color: #0f2540;
    -webkit-transition: color .3s;
    transition: color .3s; }

.mod-header--fixed {
  background: #0f2540 url(/common/images/common/noise--02.png);
  -webkit-transition: background .3s;
  transition: background .3s; }
  .mod-header--fixed .mod-header__logo a {
    color: #ffffff;
    -webkit-transition: color .3s;
    transition: color .3s; }
  .mod-header--fixed .mod-header__language a {
    color: #ffffff;
    -webkit-transition: color .3s;
    transition: color .3s; }

#mod-footer {
  width: 100%;
  min-width: 730px;
  background: #f7f7f7 url(/common/images/common/noise--02.png);
  padding: 15px;
  text-align: center; }

.mod-footer__copyright {
  font-size: 1.1rem;
  font-weight: bold; }

.mod-pankuzuContent {
  padding-top: 20px; }

.mod-pankuzu li {
  float: left; }
.mod-pankuzu .mod-pankuzu__link {
  font-size: 1.1rem;
  vertical-align: middle; }
  .mod-pankuzu .mod-pankuzu__link:hover {
    color: #cccccc; }

.mod-pankuzu__text {
  color: #cccccc;
  font-size: 1.1rem;
  vertical-align: middle; }

.mod-pankuzu__icon {
  vertical-align: middle;
  font-size: 1.1rem;
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 10px;
  float: left; }

#mod-resultTableContent,
#mod-resultTableContent--02,
#mod-resultTableContent--03,
#mod-resultTableContent--04,
#mod-resultTableContent--05,
#mod-resultTableContent--result {
  border-top: 1px dotted #dddddd; }

.mod-resultTable {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #cccccc; }
  .mod-resultTable tr:last-child .mod-resultTable__player,
  .mod-resultTable tr:last-child .mod-resultTable__point,
  .mod-resultTable tr:last-child .mod-resultTable__judge {
    border-bottom: none; }

.mod-resultTable__player {
  background: #f7f7f7;
  min-width: 200px;
  padding: 10px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc; }

.mod-resultTable__player__red {
  width: 10px;
  height: 30px;
  background: #cb1b45;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }

.mod-resultTable__player__white {
  width: 10px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }

.mod-resultTable__player__name {
  font-size: 1.1rem; }

.mod-resultTable__point {
  min-width: 50px;
  padding: 10px;
  border-right: 1px dotted #cccccc;
  text-align: center;
  font-size: 1.3rem;
  border-bottom: 1px solid #cccccc; }

.mod-resultTable__point--last {
  border-right: none; }

.mod-resultTable__judge {
  min-width: 50px;
  background: #f7f7f7;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  text-align: center;
  padding: 10px; }

.mod-resultTable__judge__mark--red {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #cb1b45;
  display: inline-block;
  vertical-align: middle; }

.mod-resultTable__judge__mark--white {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #ffffff;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #cccccc; }

.mod-resultTable--all {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #cccccc; }

.mod-resultTable--all__team {
  min-width: 200px;
  height: 60px;
  padding: 10px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  text-align: center;
  position: relative; }

.mod-resultTable--all__team__red {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 40px;
  background: #cb1b45;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle; }

.mod-resultTable--all__team__white {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  display: inline-block; }

.mod-resultTable--all__team__name {
  font-size: 1.3rem; }

.mod-resultTable--all__result {
  min-width: 200px;
  height: 60px;
  padding: 10px;
  border-right: 1px solid #cccccc;
  text-align: center;
  position: relative; }

.mod-resultTable--all__result__num {
  font-size: 1.8rem; }

.mod-resultTable--all__result__mark--red {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #cb1b45;
  display: inline-block;
  vertical-align: middle; }

.mod-resultTable--all__player {
  min-width: 150px;
  height: 50px;
  font-size: 1.1rem;
  text-align: center;
  padding: 10px;
  background: #f7f7f7;
  border-bottom: 1px solid #cccccc; }

.mod-resultTable--all__point {
  min-width: 50px;
  height: 50px;
  text-align: center;
  padding: 10px;
  font-size: 1.3rem;
  border-bottom: 1px solid #cccccc; }

.mod-resultTable--all__judge {
  min-width: 50px;
  height: 50px;
  background: #f7f7f7;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #cccccc; }

.mod-resultTable--all__player--left {
  border-right: 1px solid #cccccc; }

.mod-resultTable--all__player--right {
  border-left: 1px solid #cccccc; }

.mod-resultTable--all__point--left {
  border-right: 1px dotted #cccccc; }

.mod-resultTable--all__point--right {
  border-left: 1px dotted #cccccc; }

.mod-resultTable--all__judge--left {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc; }

.mod-resultTable--all__judge--right {
  border-right: 1px solid #cccccc; }

.mod-resultTable--all__judge__mark--red {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #cb1b45;
  display: inline-block;
  vertical-align: middle; }

.mod-resultTable--all__judge__mark--white {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #ffffff;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #cccccc; }

.scrollNav.scrollNav--fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  margin-top: 0;
  background: #f7f7f7 url(/common/images/common/noise--02.png);
  z-index: 10; }
  .scrollNav.scrollNav--fixed .scrollNav__content {
    margin-top: 16px;
    margin-left: 30px;
    margin-right: 30px; }

.nav-tabs {
  border: 0; }
  .nav-tabs > li > a {
    padding: 0;
    margin: 0;
    line-height: 1;
    border: none;
    background: none; }
    .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
      background: none;
      outline: none; }
  .nav-tabs > li.active a,
  .nav-tabs > li.active a:focus,
  .nav-tabs > li.active a:hover {
    cursor: pointer;
    border: none;
    color: #cccccc;
    background: none;
    border: none; }

.tournament-keyvidual {
  margin-top: 40px;
  position: relative;
  width: 100%;
  min-width: 730px;
  height: 200px;
  background: #0f2540 url(/common/images/common/noise--02.png);
  z-index: -1; }

.tournament-keyvidual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-width: 730px;
  text-align: center; }

.tournament-keyvidual__title {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold; }

.tournament-keyvidual__title__times {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  margin-bottom: 20px; }

.tournament-keyvidual__info {
  margin-top: 30px;
  display: inline-block; }

.tournament-keyvidual__date {
  float: left;
  margin-right: 40px; }

.tournament-keyvidual__date__icon {
  color: #ffffff;
  vertical-align: middle;
  margin-right: 5px; }

.tournament-keyvidual__date__text {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: bold;
  vertical-align: middle; }

.tournament-keyvidual__place {
  float: left; }

.tournament-keyvidual__place__icon {
  color: #ffffff;
  vertical-align: middle;
  margin-right: 5px; }

.tournament-keyvidual__place__text {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: bold;
  vertical-align: middle; }

.tournament-navArea {
  width: 100%;
  height: 25px;
  display: block;
  margin-top: 30px; }

.tournament-nav__content {
  position: relative;
  text-align: center;
  height: 25px; }

.tournament-nav__list {
  display: inline-block;
  margin-top: 6px; }
  .tournament-nav__list li {
    float: left;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 1; }
    .tournament-nav__list li:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      background: #000000;
      top: 0;
      right: 0; }
    .tournament-nav__list li:last-child:after {
      content: none; }
  .tournament-nav__list a {
    font-size: 1.3rem;
    color: #000000; }
    .tournament-nav__list a:hover {
      color: #cccccc; }

.tournament-nav__caution {
  position: absolute;
  top: 2px;
  right: 0; }

.tournament-nav__caution__mark {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  vertical-align: middle;
  margin-right: 5px; }

.tournament-nav__caution__mark--02 {
  color: #cccccc;
  font-size: 1.1rem;
  vertical-align: middle;
  margin-right: 5px; }

.tournament-nav__caution__text {
  color: #cccccc;
  font-size: 1.1rem;
  vertical-align: middle; }

.tournament-main {
  background: #ffffff url(/common/images/common/noise--02.png); }

.tournament-tableArea {
  padding-bottom: 120px; }

.tournament-table {
  padding-top: 30px; }

.tournament-table__content {
  position: relative;
  text-align: center;
  border: 1px solid #dddddd;
  box-shadow: 0 2px #dddddd;
  margin-top: 60px;
  padding: 60px 30px;
  background: #ffffff; }

.tournament-table__round--01 td,
.tournament-table__round--02 td,
.tournament-table__round--03 td,
.tournament-table__round--04 td {
  position: relative; }

.tournament-table__play {
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #cccccc;
  background: #ffffff;
  z-index: 1; }
  .tournament-table__play:hover {
    background: #f7f7f7; }

.tournament-tableContentArea {
  line-height: 0;
  display: inline-block; }

.tournament-tableContent--result {
  display: none; }

.tournament-table__num,
.tournament-table__name,
.tournament-table__round--01,
.tournament-table__round--02,
.tournament-table__round--03,
.tournament-table__round--04,
.tournament-table__round--05 {
  float: left; }
  .tournament-table__num td,
  .tournament-table__name td,
  .tournament-table__round--01 td,
  .tournament-table__round--02 td,
  .tournament-table__round--03 td,
  .tournament-table__round--04 td,
  .tournament-table__round--05 td {
    display: table-cell; }

.tournament-table__num td {
  height: 30px;
  padding-right: 10px; }
.tournament-table__num span {
  color: #ffffff;
  background: #0f2540;
  font-size: 1.1rem;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  text-align: center; }

.tournament-table__name td {
  height: 30px;
  padding-right: 10px;
  font-size: 1.1rem; }

.tournament-table__round--01 td {
  height: 60px; }

.tournament-table__round--02 td {
  height: 120px; }

.tournament-table__round--03 td {
  height: 240px; }

.tournament-table__round--04 td {
  height: 480px; }

.tournament-table__round--05 td {
  height: 480px; }

.tournament-table__round--result td {
  width: 200px;
  height: 480px;
  line-height: 2; }

.tournament-table__round--result__tag {
  display: inline-block;
  padding: 5px 10px;
  font-size: 1.1rem;
  background: #cb1b45;
  color: #ffffff;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 5px;
  line-height: 1; }

.tournament-table__round--result__text {
  font-size: 1.1rem; }

.tournament-table__button {
  position: absolute;
  bottom: 30px;
  right: 30px; }
  .tournament-table__button a {
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    border: 1px solid #cccccc;
    border-radius: 4px; }
    .tournament-table__button a:hover {
      background: #f7f7f7; }
