@import '_style.scss';

.tournament-keyvidual {
    margin-top: 40px;
    position: relative;
    width: 100%;
    min-width: 670px;
    height: 200px;
    background: $color--navy url(/common/images/common/noise--02.png);
    z-index: -1;
}
.tournament-keyvidual__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    min-width: 670px;
    text-align: center;
}
.tournament-keyvidual__title {
    color: $color--white;
    font-size: 3rem;
    font-weight: bold;
}
.tournament-keyvidual__title__times {
    color: $color--white;
    font-size: 1.8rem;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}
.tournament-keyvidual__info {
    margin-top: 30px;
    display: inline-block;
}
.tournament-keyvidual__date {
    float: left;
    margin-right: 40px;
}
.tournament-keyvidual__date__icon {
    color: $color--white;
    vertical-align: middle;
    margin-right: 5px;
}
.tournament-keyvidual__date__text {
    font-size: 1.3rem;
    color: $color--white;
    font-weight: bold;
    vertical-align: middle;
}
.tournament-keyvidual__place {
    float: left;
}
.tournament-keyvidual__place__icon {
    color: $color--white;
    vertical-align: middle;
    margin-right: 5px;
}
.tournament-keyvidual__place__text {
    font-size: 1.3rem;
    color: $color--white;
    font-weight: bold;
    vertical-align: middle;
}
.tournament-navArea {
    width: 100%;
    height: 25px;
    display: block;
    margin-top: 30px;
}
.tournament-nav__content {
    position: relative;
    text-align: center;
    height: 25px;
}
.tournament-nav__list {
    display: inline-block;
    margin-top: 6px;
    li {
        float: left;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 1;
    }
    a {
        font-size: 1.3rem;
        color: $color--black;
        &:hover {
            color: $color--gray--05;
        }
    }
}
.tournament-nav__caution {
    position: absolute;
    top: 2px;
    right: 0;
}
.tournament-nav__caution__mark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $color--gray--05;
    vertical-align: middle;
    margin-right: 5px;
    background: $color--white;
}
.tournament-nav__caution__mark--02 {
    color: $color--gray--05;
    font-size: 1.1rem;
    vertical-align: middle;
    margin-right: 5px;
}
.tournament-nav__caution__text {
    color: $color--gray--05;
    font-size: 1.1rem;
    vertical-align: middle;
}
.tournament-main {
    background: $color--white url(/common/images/common/noise--02.png);
}
.tournament-tableArea {
    padding-bottom: 120px;
}
.tournament-table {
    padding-top: 30px;
}
.tournament-table__content {
    position: relative;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid $color--gray--02;
}
.tournament-table__round--01,
.tournament-table__round--02,
.tournament-table__round--03,
.tournament-table__round--04 {
    td {
        position: relative;
    }
}
.tournament-table__play {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid $color--gray--05;
    background: $color--white;
    z-index: 1;
    &:hover {
        background: $color--gray;
    }
}
.tournament-tableContentArea {
    line-height: 0;
    display: inline-block;
}
.tournament-tableContent--result {
    display: none;
}
.tournament-table__num,
.tournament-table__name,
.tournament-table__round--01,
.tournament-table__round--02,
.tournament-table__round--03,
.tournament-table__round--04,
.tournament-table__round--05 {
    float: left;
    td {
        display: table-cell;
    }
}
.tournament-table__num {
    td {
        height: 30px;
        padding-right: 10px;
    }
    span {
        color: $color--white;
        background: $color--navy;
        font-size: 1.1rem;
        width: 20px;
        height: 20px;
        line-height: 20px;
        display: inline-block;
        text-align: center;
    }
}
.tournament-table__name {
    td {
        height: 30px;
        padding-right: 10px;
        font-size: 1.1rem;
    }
}
.tournament-table__round--01 {
    td {
        height: 60px;
    }
}
.tournament-table__round--02 {
    td {
        height: 120px;
    }
}
.tournament-table__round--03 {
    td {
        height: 240px;
    }
}
.tournament-table__round--04 {
    td {
        height: 480px;
    }
}
.tournament-table__round--05 {
    td {
        height: 480px;
    }
}
.tournament-table__round--result {
    td {
        width: 200px;
        height: 480px;
        line-height: 2;
    }
}
.tournament-table__round--result__tag {
    display: inline-block;
    padding: 5px 10px;
    font-size: 1.1rem;
    background: $color--red;
    color: $color--white;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 5px;
    line-height: 1;
}
.tournament-table__round--result__text {
    font-size: 1.1rem;
}
.tournament-table__button {
    position: absolute;
    bottom: 65px;
    right: 0;
    a {
        cursor: pointer;
        display: inline-block;
        padding: 5px 30px;
        border: 1px solid $color--gray--05;
        box-shadow: 0 2px $color--gray--02;
        border-radius: 4px;
        background: $color--white;
        &:hover {
            background: $color--gray;
        }
    }
}
