html, body, h1, h2, h3, h4, h5, h6, div, p, span, ul, li, table, th, td, dl, dt, dd, section, article, header, footer, main, small, select, a, a:link, a:hover, a:visited, a:active, a:focus, button {
  padding: 0;
  margin: 0;
  font-family: "Yu Mincho", "YuMincho";
  font-size: 10px;
  font-weight: normal;
  color: #000000;
  list-style-type: none;
  letter-spacing: 1px;
  text-decoration: none; }

html, body {
  overflow-x: hidden; }

/* mod-: MODULE */
.mod-body {
  background: #ffffff; }

.mod-header {
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background: #36465e; }

.mod-logo {
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translateY(-50%);
  line-height: 1;
  z-index: 1; }
  @media (max-width: 768px) {
    .mod-logo {
      left: 30px; } }
  .mod-logo a {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff; }

.mod-nav {
  position: absolute;
  top: 50%;
  right: 45px;
  transform: translateY(-50%);
  z-index: 10; }
  @media (max-width: 768px) {
    .mod-nav {
      right: 30px; } }

.mod-nav_button {
  border: 1px solid #86909f;
  border-radius: 4px;
  background: none;
  color: #ffffff;
  padding: 5px 20px;
  white-space: nowrap;
  background: #86909f; }
  .mod-nav_button:hover {
    background: #2e3c51;
    border-color: #2e3c51; }

.mod-nav_menu {
  left: auto;
  right: 0;
  margin-top: 10px;
  padding: 10px 0;
  border: 1px solid #cccccc;
  border-radius: 0;
  box-shadow: none; }

.mod-nav__about a {
  font-size: 1.1rem;
  color: #000000;
  padding: 5px 20px !important; }
  .mod-nav__about a:hover {
    background: none !important;
    color: #cccccc !important; }

.mod-nav__how a {
  font-size: 1.1rem;
  color: #000000;
  padding: 5px 20px !important; }
  .mod-nav__how a:hover {
    background: none !important;
    color: #cccccc !important; }

.mod-main {
  position: relative;
  margin-top: 90px;
  margin-bottom: 40px; }
  @media (max-width: 768px) {
    .mod-main {
      margin-bottom: 0; } }

.mod-main__info {
  vertical-align: top;
  width: 300px;
  float: left;
  padding: 45px;
  background: #f7f7f7;
  overflow: scroll; }
  @media (max-width: 768px) {
    .mod-main__info {
      display: inline-block;
      width: 100%;
      padding: 30px;
      height: auto !important; } }

.mod-main__content {
  vertical-align: top;
  padding: 45px;
  overflow: scroll;
  margin-left: 300px; }
  @media (max-width: 768px) {
    .mod-main__content {
      display: inline-block;
      width: 100%;
      padding: 30px;
      height: auto !important;
      margin-left: 0; } }

.mod-footer {
  width: 100%;
  height: 40px;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #86909f; }
  @media (max-width: 768px) {
    .mod-footer {
      position: static;
      padding: 30px;
      height: auto; } }

.mod-footer__copyright {
  position: absolute;
  top: 50%;
  right: 45px;
  transform: translateY(-50%);
  font-size: 1.1rem;
  font-family: 'Roboto';
  float: left;
  overflow: hidden;
  color: #ffffff; }
  @media (max-width: 768px) {
    .mod-footer__copyright {
      position: static;
      transform: none; } }

.mod-pankuzu {
  position: absolute;
  top: 50%;
  left: 45px;
  transform: translateY(-50%); }
  @media (max-width: 768px) {
    .mod-pankuzu {
      position: static;
      transform: none;
      margin-bottom: 15px; } }
  .mod-pankuzu li {
    float: left; }
  .mod-pankuzu .mod-pankuzu__link {
    font-size: 1.1rem;
    vertical-align: middle;
    line-height: 2;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    display: inline; }
    .mod-pankuzu .mod-pankuzu__link:hover {
      border-bottom: none; }

.mod-pankuzu__text {
  font-size: 1.1rem;
  vertical-align: middle;
  line-height: 2;
  color: #ffffff; }

.mod-pankuzu__icon {
  vertical-align: middle;
  font-size: 1.1rem;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
  line-height: 2;
  color: #ffffff; }

.mod-keyvidual__title {
  color: #000000;
  font-size: 2.4rem;
  text-align: left; }

.mod-keyvidual__title__times {
  color: #000000;
  font-size: 1.6rem;
  margin-bottom: 15px;
  display: block; }

.mod-keyvidual__info {
  margin-top: 30px;
  text-align: left; }

.mod-keyvidual__date {
  margin-bottom: 10px; }

.mod-keyvidual__date__text {
  font-size: 1.3rem;
  color: #000000;
  vertical-align: middle; }

.mod-keyvidual__place__text {
  font-size: 1.3rem;
  color: #000000;
  vertical-align: middle; }

.mod-resultTable tr:last-child .mod-resultTable__player,
.mod-resultTable tr:last-child .mod-resultTable__point,
.mod-resultTable tr:last-child .mod-resultTable__judge {
  border-bottom: none; }

#mod-resultTableContent {
  margin-top: 20px;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  letter-spacing: -.4em;
  padding-bottom: 10px; }
  #mod-resultTableContent::-webkit-scrollbar {
    overflow: hidden;
    width: 1px;
    background: #fafafa; }
  #mod-resultTableContent::-webkit-scrollbar:vertical {
    display: none; }
  #mod-resultTableContent::-webkit-scrollbar:horizontal {
    height: 1px; }
  #mod-resultTableContent::-webkit-scrollbar-button {
    display: none; }
  #mod-resultTableContent::-webkit-scrollbar-piece {
    background: #cccccc; }
  #mod-resultTableContent::-webkit-scrollbar-piece:start {
    background: #cccccc; }
  #mod-resultTableContent::-webkit-scrollbar-thumb {
    background: #000000; }
  #mod-resultTableContent::-webkit-scrollbar-corner {
    background: #000000; }

#mod-resultTableContent--result {
  margin-top: 20px;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  letter-spacing: -.4em;
  padding-bottom: 10px; }
  #mod-resultTableContent--result::-webkit-scrollbar {
    overflow: hidden;
    width: 1px;
    background: #fafafa; }
  #mod-resultTableContent--result::-webkit-scrollbar:vertical {
    display: none; }
  #mod-resultTableContent--result::-webkit-scrollbar:horizontal {
    height: 1px; }
  #mod-resultTableContent--result::-webkit-scrollbar-button {
    display: none; }
  #mod-resultTableContent--result::-webkit-scrollbar-piece {
    background: #cccccc; }
  #mod-resultTableContent--result::-webkit-scrollbar-piece:start {
    background: #cccccc; }
  #mod-resultTableContent--result::-webkit-scrollbar-thumb {
    background: #000000; }
  #mod-resultTableContent--result::-webkit-scrollbar-corner {
    background: #000000; }

.mod-resultTable__player {
  min-width: 200px;
  padding: 10px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc; }

.mod-resultTable__player__red {
  width: 10px;
  height: 20px;
  background: #cb1b45;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }

.mod-resultTable__player__white {
  width: 10px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }

.mod-resultTable__player__name {
  font-size: 1.1rem;
  vertical-align: middle; }

.mod-resultTable__point {
  min-width: 50px;
  padding: 5px 10px;
  border-right: 1px dotted #cccccc;
  text-align: center;
  font-size: 1.1rem;
  border-bottom: 1px solid #cccccc;
  background: #ffffff; }

.mod-resultTable__point--last {
  border-right: none; }

.mod-resultTable__judge {
  min-width: 50px;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  text-align: center;
  padding: 5px 10px;
  line-height: 0; }

.mod-resultTable__judge__mark--red {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #cb1b45;
  display: inline-block;
  vertical-align: middle; }

.mod-resultTable__judge__mark--white {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #ffffff;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #cccccc; }

.mod-resultTable--all__team {
  min-width: 200px;
  height: 50px;
  padding: 10px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  text-align: center;
  position: relative;
  background: #ffffff; }
  .mod-resultTable--all__team:last-child {
    border-right: none; }

.mod-resultTable--all__team__red {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 30px;
  background: #cb1b45;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle; }

.mod-resultTable--all__team__white {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 10px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 2px;
  display: inline-block; }

.mod-resultTable--all__team__name {
  font-size: 1.3rem; }

.mod-resultTable--all__result {
  min-width: 200px;
  height: 40px;
  padding: 10px;
  border-right: 1px solid #cccccc;
  text-align: center;
  position: relative;
  background: #ffffff;
  line-height: 0; }
  .mod-resultTable--all__result:last-child {
    border-right: none; }

.mod-resultTable--all__result__num {
  font-size: 1.6rem; }

.mod-resultTable--all__result__mark--red {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background: #cb1b45;
  display: inline-block;
  vertical-align: middle; }

.mod-resultTable--all__player {
  min-width: 120px;
  height: 40px;
  font-size: 1.1rem;
  text-align: center;
  padding: 5px 10px;
  border-bottom: 1px solid #cccccc; }

.mod-resultTable--all__point {
  min-width: 50px;
  height: 40px;
  text-align: center;
  padding: 5px 10px;
  font-size: 1.1rem;
  border-bottom: 1px solid #cccccc;
  background: #ffffff; }

.mod-resultTable--all__judge {
  min-width: 50px;
  height: 40px;
  text-align: center;
  padding: 5px 10px;
  border-bottom: 1px solid #cccccc; }

.mod-resultTable--all__player--left {
  border-right: 1px solid #cccccc; }

.mod-resultTable--all__player--right {
  border-left: 1px solid #cccccc; }

.mod-resultTable--all__point--left {
  border-right: 1px dotted #cccccc; }

.mod-resultTable--all__point--right {
  border-left: 1px dotted #cccccc; }

.mod-resultTable--all__judge--left {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  line-height: 0; }

.mod-resultTable--all__judge--right {
  border-right: 1px solid #cccccc; }

.mod-resultTable--all__judge__mark--red {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #cb1b45;
  display: inline-block;
  vertical-align: middle; }

.mod-resultTable--all__judge__mark--white {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #ffffff;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #cccccc; }

.animatedModal__content {
  position: relative;
  height: 100%; }

.close-animatedModal {
  position: fixed;
  top: 30px;
  right: 45px;
  z-index: 10000; }
  @media (max-width: 768px) {
    .close-animatedModal {
      right: 30px; } }

.modal-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
  box-shadow: none;
  border-radius: 0;
  border: none;
  background: none; }
  @media (max-width: 768px) {
    .modal-content {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      padding: 100px 0; } }

.modal__title {
  margin-bottom: 30px;
  text-align: center; }
  @media (max-width: 768px) {
    .modal__title {
      margin-bottom: 15px; } }

.modal__title__text {
  vertical-align: middle;
  font-size: 3rem;
  color: #000000;
  display: block; }
  @media (max-width: 768px) {
    .modal__title__text {
      font-size: 2.4rem; } }

.modal__title__subText {
  font-size: 1.1rem;
  font-family: 'Roboto';
  color: #cccccc;
  display: block;
  margin-top: 10px; }
  @media (max-width: 768px) {
    .modal__title__subText {
      margin-top: 5px; } }

.modal__list {
  width: 720px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 768px) {
    .modal__list {
      width: auto; } }
  .modal__list li {
    text-align: center;
    margin: 30px auto; }

.modalList__position {
  position: relative;
  display: inline-block; }

.modalList__num {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: bold;
  display: inline-block;
  border-radius: 50%;
  background: #36465e; }

.modalList__image {
  display: block;
  width: 150px;
  height: 150px;
  border: 1px solid #36465e;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto; }
  .modalList__image img {
    width: 100%; }

.modalList__text {
  display: block;
  margin-top: 20px; }

.modalList__title {
  font-size: 1.3rem;
  font-family: 'Roboto';
  font-weight: bold;
  line-height: 1.5;
  display: block; }

.modalList__description {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-top: 10px;
  display: block; }

#parentHorizontalTab {
  background: #ffffff;
  text-align: center; }
  @media (max-width: 768px) {
    #parentHorizontalTab {
      border-bottom: none; } }

.resp-tab-content {
  border: none;
  padding: 0;
  position: relative;
  padding: 30px 0 0;
  text-align: left; }
  @media (max-width: 768px) {
    .resp-tab-content {
      padding: 30px 0; } }

.resp-tab-active {
  border-color: #cccccc !important;
  border-top: 0 !important;
  border-bottom: 1px solid #cccccc !important;
  border-left: 0 !important;
  border-right: 0 !important;
  padding: 0 0 10px !important; }
  @media (max-width: 768px) {
    .resp-tab-active {
      border-top: none !important; } }

@media (max-width: 768px) {
  h2.resp-tab-active {
    padding: 15px !important;
    margin: 0 !important; } }

.resp-tabs-list {
  text-align: center;
  letter-spacing: -0.4em; }
  .resp-tabs-list li {
    letter-spacing: normal;
    margin: 0;
    background-color: #ffffff !important;
    padding: 0 0 10px;
    margin-right: 30px;
    font-weight: normal;
    font-size: 1.1rem; }
    .resp-tabs-list li:hover {
      color: #cccccc; }

.resp-accordion {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #cccccc !important;
  border-color: #cccccc !important;
  background: #ffffff !important;
  font-size: 1.1rem !important;
  padding: 15px 0 !important;
  margin: 0 15px !important;
  position: relative;
  text-align: left; }
  @media (max-width: 768px) {
    .resp-accordion {
      margin: 0 !important; } }
  @media (max-width: 768px) {
    .resp-accordion:first-child.resp-tab-active {
      border-top: none; } }

.resp-arrow {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 0;
  height: 0;
  margin-top: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #000000; }
  .resp-arrow:before {
    position: absolute;
    bottom: 1px;
    left: -6px;
    content: "";
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #ffffff; }

h2.resp-tab-active {
  border-bottom: 1px solid #cccccc !important;
  padding: 15px 0 !important; }
  h2.resp-tab-active span.resp-arrow {
    border-top: none;
    border-bottom: 6px solid #000000; }
    h2.resp-tab-active span.resp-arrow:before {
      bottom: -7px;
      border-top: none;
      border-bottom: 6px solid #ffffff; }

.noise {
  animation: noise_anima 1s steps(10) infinite; }

@keyframes noise_anima {
  from {
    background-position: 0 0; }
  to {
    background-position: 123px 456px; } }
@-webkit-keyframes noise_anima {
  from {
    background-position: 0 0; }
  to {
    background-position: 123px 456px; } }
.br--on {
  display: none; }
  @media (max-width: 768px) {
    .br--on {
      display: block; } }

@media (max-width: 768px) {
  .br--off {
    display: none; } }

/* tournament-: TOURNAMENT */
.tournament-navArea {
  width: 100%;
  display: block;
  margin-bottom: 30px; }

.tournament-nav__content {
  text-align: center;
  position: relative; }

.tournament-nav__list {
  display: inline-block;
  overflow: auto;
  white-space: nowrap;
  width: 100%; }
  @media (max-width: 768px) {
    .tournament-nav__list:before {
      content: "";
      position: absolute;
      top: 0;
      left: -1px;
      width: 15px;
      height: 100%;
      background: -moz-linear-gradient(right, rgba(255, 255, 255, 0), white);
      background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(white));
      z-index: 1;
      display: inline-block; }
    .tournament-nav__list:after {
      content: "";
      position: absolute;
      top: 0;
      right: -1px;
      width: 15px;
      height: 100%;
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), white);
      background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white));
      z-index: 1;
      display: inline-block; } }
  .tournament-nav__list::-webkit-scrollbar {
    overflow: hidden;
    width: 1px;
    background: #fafafa; }
  .tournament-nav__list::-webkit-scrollbar:vertical {
    display: none; }
  .tournament-nav__list::-webkit-scrollbar:horizontal {
    height: 1px; }
  .tournament-nav__list::-webkit-scrollbar-button {
    display: none; }
  .tournament-nav__list::-webkit-scrollbar-piece {
    background: #cccccc; }
  .tournament-nav__list::-webkit-scrollbar-piece:start {
    background: #cccccc; }
  .tournament-nav__list::-webkit-scrollbar-thumb {
    background: #000000; }
  .tournament-nav__list::-webkit-scrollbar-corner {
    background: #000000; }
  .tournament-nav__list li {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1;
    float: none; }
  .tournament-nav__list a {
    font-size: 1.3rem;
    color: #000000; }
    .tournament-nav__list a:hover {
      color: #cccccc; }

.tournament-table {
  background: #ffffff;
  padding-left: 30px;
  padding-right: 30px; }

.tournament-tableArea {
  padding-bottom: 150px; }

.tournament-table__content {
  position: relative;
  text-align: center; }

.tournament-table__round--01 td,
.tournament-table__round--02 td,
.tournament-table__round--03 td,
.tournament-table__round--04 td {
  position: relative; }

.tournament-table__play {
  position: absolute;
  top: 50%;
  right: -7px;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #cccccc;
  background: #ffffff;
  z-index: 1; }
  .tournament-table__play:hover {
    background: #cccccc; }

.tournament-tableContentArea {
  line-height: 0;
  display: inline-block;
  max-width: 100%;
  position: relative;
  margin-bottom: 20px; }
  .tournament-tableContentArea:after {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    width: 15px;
    height: 100%;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), white);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white));
    z-index: 1;
    display: inline-block; }

.tournament-tableContent {
  display: block;
  position: relative; }

.tournament-table__head {
  display: block;
  float: left;
  letter-spacing: -.4em; }

.tournament-table__body {
  display: block;
  position: relative;
  width: auto;
  overflow-x: auto;
  white-space: nowrap;
  letter-spacing: -.4em;
  padding-bottom: 10px; }
  .tournament-table__body::-webkit-scrollbar {
    overflow: hidden;
    width: 1px;
    background: #fafafa; }
  .tournament-table__body::-webkit-scrollbar:vertical {
    display: none; }
  .tournament-table__body::-webkit-scrollbar:horizontal {
    height: 1px; }
  .tournament-table__body::-webkit-scrollbar-button {
    display: none; }
  .tournament-table__body::-webkit-scrollbar-piece {
    background: #cccccc; }
  .tournament-table__body::-webkit-scrollbar-piece:start {
    background: #cccccc; }
  .tournament-table__body::-webkit-scrollbar-thumb {
    background: #000000; }
  .tournament-table__body::-webkit-scrollbar-corner {
    background: #000000; }

.tournament-tableContent--result {
  display: none; }

.tournament-table__num,
.tournament-table__name,
.tournament-table__round--01,
.tournament-table__round--02,
.tournament-table__round--03,
.tournament-table__round--04,
.tournament-table__round--05,
.tournament-table__round--result {
  display: inline-block;
  letter-spacing: normal; }
  .tournament-table__num td,
  .tournament-table__name td,
  .tournament-table__round--01 td,
  .tournament-table__round--02 td,
  .tournament-table__round--03 td,
  .tournament-table__round--04 td,
  .tournament-table__round--05 td,
  .tournament-table__round--result td {
    display: table-cell;
    text-align: left;
    vertical-align: middle; }

.tournament-table__num td {
  height: 30px;
  padding-right: 10px; }
.tournament-table__num span {
  color: #ffffff;
  background: #36465e;
  font-size: 1.1rem;
  width: 20px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  text-align: center; }

.tournament-table__name td {
  height: 30px;
  padding-right: 10px;
  font-size: 1.1rem;
  white-space: nowrap; }

.tournament-table__round--01 td {
  height: 60px; }

.tournament-table__round--02 td {
  height: 120px; }

.tournament-table__round--03 td {
  height: 240px; }

.tournament-table__round--04 td {
  height: 480px; }

.tournament-table__round--05 td {
  height: 480px; }

.tournament-table__round--result td {
  width: 200px;
  height: 480px;
  line-height: 2;
  white-space: nowrap; }

.tournament-table__round--result__tag {
  display: inline-block;
  padding: 5px 10px;
  font-size: 1.1rem;
  background: #cb1b45;
  color: #ffffff;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 5px;
  line-height: 1; }

.tournament-table__round--result__text {
  font-size: 1.1rem; }

.tournament-table__button a {
  border: 1px solid #cccccc;
  border-radius: 4px;
  background: none;
  color: #000000;
  padding: 5px 20px;
  white-space: nowrap;
  line-height: 1.4;
  display: inline-block; }
  .tournament-table__button a:hover {
    color: #cccccc; }
